{
      "Image": "etcd",
      "NetworkMode": "isolated_nw",
      "Cmd": [
                "/root/etcd-v3.2.11-linux-amd64/etcd --listen-client-urls 'http://0.0.0.0:2379' --advertise-client-urls 'http://0.0.0.0:2379'"
        ],
      "entrypoint": ["bash","-c"],
      "NetworkingConfig": {
          "EndpointsConfig": {
              "isolated_nw" : {
                  "IPAMConfig": {
                      "IPv4Address":"172.20.10.100"
                  }
              }
          }
      }
 }
