{
      "Image": "traefik",
      "NetworkMode": "isolated_nw",
      "Cmd": [
                "/root/traefik -c /root/conf.toml"
        ],
      "entrypoint": ["bash","-c"],
      "NetworkingConfig": {
          "EndpointsConfig": {
              "isolated_nw" : {
                  "IPAMConfig": {
                      "IPv4Address":"172.20.10.101"
                  }
              }
          }
      }
 }
