{
      "Image": "docker.io/emilevauge/whoami",
      "NetworkMode": "isolated_nw",
      "NetworkingConfig": {
          "EndpointsConfig": {
              "isolated_nw" : {
                  "IPAMConfig": {
                      "IPv4Address":"172.20.10.111"
                  }
              }
          }
      }
 }
